<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mon super site</title>
        <link rel="stylesheet" href="/styles/global.css">
    </head>
    <body>
        <header>
            <nav>
                <ul class="flex">
                    <a href="/"><li>Accueil</li></a>
                    <a href="/contact"><li>Contact</li></a>
                    <a href="/about"><li>About</li></a>
                </ul>
            </nav>
        </header>
        <main>

