<%- include('./shared/header') %>
    <div>
        <h1>A propos de moi :</h1>
        <img class="avatar" src="/images/moe.png" alt="oui">
        <div>
            <% if(person.gender === 'F') { %>
                <h2 class="pink"><%= person.firstname %> <%= person.lastname %></h2>
            <% } %>
            <% if(person.gender === 'M') { %>
                <h2 class="blue"><%= person.firstname %> <%= person.lastname %></h2>
            <% } %>

            <h2 class="<%= (person.gender === 'F') ? 'pink' : 'blue' %>"><%= person.firstname %> <%= person.lastname %></h2>
            <p> Date de naissance : <%= person.birthdate.toLocaleDateString('fr-be') %> </p>
            <p>Mes cours pref :</p>
            <ul>
                <% for(const course of person.lovedCourses) { %>
                    <li> <%= course %> </li>
                <% } %>
            </ul>
        </div>
    </div>

<%- include('./shared/footer') %>