<%- include('./shared/header') %>
    <div class="content">
        <h1> Bienvenue sur la page d'accueil 🦊</h1>
        <h2> Nous sommes le <%= today %> </h2>
        <ul>
            <% for(const trainer of trainers) { %>
                <li> <%= trainer.firstname %> <%= trainer.lastname %>  </li>
            <% } %>
        </ul>
        <a href="/contact"> Contactez-moi ✉ </a>
    </div>
<%- include('./shared/footer') %>