<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/global.css">
        <title>404</title>
    </head>

    <body>
        <h1 class="txt-red txt-large"> Erreur 404 🤖</h1>
        <img src="/images/notfound.png" alt="image illustrant une ressource non trouvée" />
    </body>
</html>