body {
    margin: 0;
}

.txt-red {
    color : darkred;
}

.txt-large {
    font-size: 32px;
}

.flex {
    height: 100%;
    display: flex;
    align-items: center;
}

.flex li {
    list-style: none;
    margin : 0 12px;
}

nav ul {
    margin : 0;
}

nav {
    width: 100vw;
    height: 10vh;
    background-color: lightgrey;
}

footer {
    /* padding : 1% 2%; */
    width: 100vw;
    height: 10vh;
    background-color: lightgrey;
}

main {
    width: 100vw;
    min-height: 80vh;
}

.content {
    width: 80vw;
    margin : auto;
}

.pink {
    color : pink;
}

.blue {
    color : lightseagreen;
}

.avatar {
    width: 250px;
}